<div class="side-nav-container">
    <div><img class="logo" src="../../../../assets/icons/logo-icon.png"/></div>
    <div class="nav-icons">
        <div (click)="navRedirect('dashboard')"><img alt="Maps" title="Maps" class="nav-icon" src="../../../assets/icons/map-icon.png"/></div>
        <div (click)="navRedirect('')"><img alt="History" title="History" class="nav-icon" src="../../../assets/icons/history-icon.png"/></div>
        <div (click)="navRedirect('')"><img alt="Actions" title="Actions" class="nav-icon" src="../../../assets/icons/actions-icon.png"/></div>
        <div (click)="navRedirect('login')"><img alt="Logout" title="Logout" class="nav-icon" src="../../../assets/icons/logout-icon.png"/></div>
    </div>
</div>