<div class="side-nav-container">
    <!-- <div><img class="logo" src="../../../../assets/icons/logo-icon.png"/></div> -->
    <div class="nav-icons">
        <div (click)="navRedirect('/dashboard/tracker')" [ngClass]="{'selected' : selected == '/dashboard/tracker'}">
            <img alt="Maps" title="Maps" class="nav-icon" src="../../../assets/icons/loc.png" />
        </div>
        <div (click)="navRedirect('/dashboard/analytics')" [ngClass]="{'selected' : selected == '/dashboard/analytics'}">
            <!-- Analytics -->
            <img alt="History" title="History" class="nav-icon" src="../../../assets/icons/hist.png" />
        </div>
        <div (click)="navRedirect('/dashboard/alerts')" [ngClass]="{'selected' : selected == '/dashboard/alerts'}">
            <!-- Alerts -->
            <img alt="Actions" title="Actions" class="nav-icon" src="../../../assets/icons/notif.png" />
        </div>
        <div (click)="navRedirect('/dashboard/admin')" [ngClass]="{'selected' : selected == '/dashboard/admin'}">
            <!-- Admin Portal -->
            <img alt="Actions" title="Actions" class="nav-icon" src="../../../assets/icons/settings.png" />
        </div>
        <div (click)="navRedirect('login')">
            <!-- Logout -->
            <img alt="Logout" title="Logout" class="nav-icon" src="../../../assets/icons/logout_.png" />
        </div>
    </div>
</div>