<div class="login-container">
    <div class="logo">
        <img src="../../../../assets/icons/logo.png"/>
    </div>
    <div class="user-cred">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="block">
                <label>E-mail</label>
                <input id="username" type="text" formControlName="username"/>
            </div>
            <div class="block">
                <label>Password</label>
                <input id="password" type="password" formControlName="password"/>
            </div>
            <!-- <div class="error-msg" *ngIf = "showError">Please enter correct credentials.</div> -->
            <div class="error-msg" *ngIf="submitted && form.controls.email.invalid" id="email-error">
                Please enter a valid email.
            </div>
            <div class="error-msg" *ngIf="submitted && form.controls.password.invalid" id="email-error">
                Please enter a valid password.
            </div>
            <div class="center">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>