.alert-container{
    width: 20em;
    min-height: 6em;
    position: fixed;
    right: 0px;
    background: black;
    top: 11vh;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 1em;
    color: white !important;
    box-shadow: 5px 9px 12px 2px #333;
}

.alert-heading{
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

button{
    border: 1px solid #ccc;
    background: #fff;
    font-weight: bold;
    border-radius: .2em;
    font-size: 12px;
    padding: .2em .5em;
}

.alert-body{
    margin-bottom: 1em;
}

.alert-actions{
    justify-content: space-between;
}