<div class="dashboard-tracker">
  <div class="tabs">
    <div
      *ngIf="'traffic' | can: 'read'"
      (click)="fetchTrafficData()"
      class="tab"
      [ngClass]="{ selected: selected == 'traffic' }"
    >
      Traffic
    </div>
    <div
      *ngIf="'pollution' | can: 'read'"
      (click)="fetchLatestPollutionDetails()"
      class="tab"
      [ngClass]="{ selected: selected == 'pollution' }"
    >
      Pollution
    </div>
    <div
      *ngIf="'bike' | can: 'read'"
      (click)="fetchLatestBikesData()"
      class="tab"
      [ngClass]="{ selected: selected == 'bike' }"
    >
      Bikes
    </div>
    <div
      *ngIf="'luas' | can: 'read'"
      (click)="fetchLuasStopData()"
      class="tab"
      [ngClass]="{ selected: selected == 'luasstop' }"
    >
      Luas Stops
    </div>
    <div
      *ngIf="'bus' | can: 'read'"
      (click)="fetchBusStopData()"
      class="tab"
      [ngClass]="{ selected: selected == 'busstop' }"
    >
      Bus Stops
    </div>
    <div
      *ngIf="'dart' | can: 'read'"
      (click)="fetchIrishRailStopData()"
      class="tab"
      [ngClass]="{ selected: selected == 'irishrailstop' }"
    >
      Dart Stations
    </div>
  </div>
  <div *ngIf="mapsData" class="map-container">
    <app-maps [mapsData]="mapsData"></app-maps>
  </div>
  <div class="alert-list">
    <app-view-list></app-view-list>
  </div>
</div>
