<div class="dashboard-tracker">
    <div class="tabs">
        <div (click)="fetchTrafficData()" class="tab" [ngClass]="{'selected' : selected == 'traffic'}">Traffic</div>
        <div (click)="fetchLatestPollutionDetails()" class="tab" [ngClass]="{'selected' : selected == 'pollution'}">Pollution</div>
        <div (click)="fetchLatestBikesData()" class="tab" [ngClass]="{'selected' : selected == 'bike'}">Bikes</div>
    </div>
    <div *ngIf="mapsData" class="map-container">
        <app-maps [mapsData]="mapsData"></app-maps>
    </div>
    <div class="alert-list">
        <app-view-list [listData]="alertListData"></app-view-list>
    </div>
</div>