.tabs{
    display: flex;
    justify-content: center;
}

.tabs .tab{
    padding: .8em;
    margin-top: 1em;
    border: 1px solid #ccc;
    min-width: 4em;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 1px 8px 3px #ccc;
}

.tabs .tab.selected{
    background-color: #1e2266;
    color: #fff;
}

.dashboard-tracker{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
}

.alert-list{
    width: 80%;
    margin: 1em;
}

.map-container{
    width: 90%;
}