<div class="list-container" *ngIf="listData">
    <div class="con">
        <div class="list-header">
            <div class="time">Timestamp</div>
            <div class="desc">Coordinates</div>
            <div class="criticality">Type</div>
            <div class="action">Status</div>
        </div>
    </div>
    <mat-accordion>

        <mat-expansion-panel *ngFor="let item of listData">
            <mat-expansion-panel-header>
                <div class="con">
                    <div class="list-item">
                        <div class="time">{{item.timestamp}}</div>
                        <div class="desc">{{item.lat+" "+item.long}}</div>
                        <div class="criticality">{{item.type}}</div>
                        <div class="action">
                            <div [id]="item.id">{{item.status}}</div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <div class="display-flex">
                <div></div>
                <div class="action-btn" (click)="forwardRequest(item)" *ngIf="item.status == 'New' || item.status == 'Acknowledged'"><img alt="Alert" title="Alert" class="nav-icon" src="../../../assets/icons/tick.png" /></div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>