<div class="timetable-container">
    
    <div class="tt-header">UPCOMING {{serviceType}} AT {{name}}</div>
    <div class="tt-row-container">
        <div class="tt-row" *ngFor="let station of targetInfo" style="text-decoration: none;">
                
                    <div class="source">
                        <div class="place-dot"></div>
                    </div>
                    <div class="content">
                        <div class="upper">
                            <div class="source-place">{{station['origin']}}</div>
                            <div class="service">
                                <img [src] = "station['image']" />
                            </div>
                            <div class="service">{{station['route']}}</div>
                            <div class="dest-place">{{station['dest']}}</div>
                        </div>
                        <div class="lower">
                            <div class="source-time">{{station['originTime']}}</div>
                            <div class="schedule"><span class="remaining-time">{{station['dueIn']}} min(s)</span> &nbsp; <span class="delay">+{{station['late']}} min(s)</span>
                            </div>
                            <div class="dest-time">{{station['destTime']}}</div>
                        </div>
                    </div>
                    <div class="destination">
                        <div class="place-dot"></div>
                    </div>
        </div>
    </div>
</div>