/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-color: #1e2254;
    width: 100vw;
    height: 100vh;
    color: #fff;
    margin: 0;
    font-family: 'Roboto';
    font-size: 1em;
}

.display-flex {
    display: flex;
}

input,
select {
    display: block;
    margin: 0;
    padding: 0.5em;
    color: black;
    width: 100%;
    font-family: inherit;
    font-size: 0.8em;
    font-weight: inherit;
    border: none;
    border-radius: 0.4rem;
    height: 2em;
    background-color: #fff;
    outline: none;
}

input::placeholder {
    color: rgb(30, 30, 31);
}

input:focus,
select:focus {
    box-shadow: 0px 4px 10px 0px #ccc;
}

button {
    display: inline-block;
    padding: 0em 0.2em;
    border: 1em solid #FFFFFF;
    margin: 1em 0.3em 0.3em 0;
    border-radius: 0.12em;
    font-size: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    outline: 1px solid #ccc;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

.spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: #232323;
    opacity: 0.5;
}